<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eugeneprogram.post.dao.PostMapper">
    <select id="getList" resultType="java.util.Map">
        SELECT pst_id pstId, pst_title pstTitle, pst_text pstText
        FROM pst
    </select>
    
    <select id="getOne" parameterType="long" resultType="java.util.Map">
		SELECT pst_id pstId, pst_title pstTitle, pst_text pstText
		FROM pst
		WHERE pst_id = #{pstId}
	</select>
	
	
	<insert id="insertPost" parameterType="java.util.Map">
		INSERT INTO pst(pst_id, pst_title, pst_text, pst_create_date, pst_update_date, pst_score, pst_comment_cnt, pst_image, ctg_id, mb_id)
		VALUES(#{pstId}, #{pstTitle}, #{pstText}, #{pstCreateDate}, #{pstUpdateDate}, #{psstScore}, #{pstCommentCnt}, #{pstImage}, #{ctgId}, #{mbId})
	</insert>
	
	
	<update id="updatePost" parameterType="java.util.Map">
		UPDATE pst SET
			pst_title = #{pstTitle}
			pst_text = #{pstText}
			pst_create_date = #{pstCreateDate}
			pst_update_date = #{pstUpdateDate}
			pst_score = #{pstScore}
			pst_comment_cnt = #{pstCommentCnt}
			pst_image = #{pstImage}
			ctg_id = #{ctgId}
			mb_id = #{mbId}
		WHERE = #{pstId}
	</update>
	<!--
	-->
	
</mapper>
